* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0;
	overflow: auto;
	font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 1.8em;
}

a, button {
	cursor: pointer;
	text-decoration: none;
}

.presentation {
	width: 100%;
	height: 80%;
	margin: 0 auto;
	padding: 0 auto;
	background-color: #0B0B0B;
	color: #fff;
}

.presentation h3 {
	font-size: 3.8em;
	font-weight: 500;
	margin-top: 25vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.presentation p {
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

.presentation button {
	margin: auto;
	display: block;
	margin-top: 25px;
	width: 180px;
	height: 50px;
	background-color: #E3256A;
	border-radius: 50px;
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	color: #FFF;
	font-size: 0.9em;
	transition: .6s;
	margin-bottom: 25vh;
}

.presentation button:hover {
	overflow-x: hidden;
	overflow: hidden;
	/* transform-origin: 0 0; */
	transform: scale(1.1);
	width: 200px;
	/* background-color: rgb(205, 0, 0); */
	background-color: #e31b22;
}

.about {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

.about h5 {
	letter-spacing: 3px;
	margin-top: 5%;
	font-weight: 400;
	color: #0B0B0B;
}

.about p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #0B0B0B;
	opacity: .6;
	letter-spacing: 2px;
	width: 80%;
	margin-top: 30px;
	font-size: 1.0em;
}

.works {
	overflow: hidden;
	width: 100%;
	background-color: #fff;
}

.works h5 {
	letter-spacing: 3px;
	margin-top: 5%;
	font-weight: 400;
	color: rgb(46, 43, 43);
}

.works p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	color: #0B0B0B;
	opacity: .6;
	letter-spacing: 2px;
	width: 80%;
	margin-top: 30px;
	font-family: 1.0em;
}

.works .images {
	text-align: center;
	width: 90%;
	/* margin-top: 30px; */
	margin-left: auto;
	margin-right: auto;
}

.works .images a {
	width: 350px;
	height: 260px;
}

.works .images a img {
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: 50px;
	/* width: 30%; */
	/* height: 260px; */
	width: 357px;
	height: 144px;
}

.stack h5 {
	letter-spacing: 3px;
	margin-top: 5%;
	font-weight: 400;
	color: #0B0B0B;
}

.stack ol li {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	letter-spacing: 3px;
	font-weight: 100;
	font-size: 1.0em;
	margin-bottom: 5px;
	opacity: .6;
}

.stack ol li:first-child {
	margin-top: 30px;
	font-weight: 500;
	color: #0B0B0B;
	margin-bottom: 20px;
	opacity: 1;
}

.stack:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 33.33%;
	text-align: center;
}

.findme {
	width: 100%;
	color: #0B0B0B;
}

.findme h5 {
	letter-spacing: 3px;
	margin-top: 5%;
	font-weight: 400;
	color: #0B0B0B;
}

.findme ol {
	overflow: hidden;
	margin-top: 30px;
	margin-bottom: 4%;
	text-align: center;
}

.findme ol li {
	display: inline;
	padding: 15px;
}

footer {
	overflow: hidden;
	background-color: #0B0B0B;
	width: 100%;
	height: 60px;
	text-align: center;
}

footer p {
	font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
	width: 100%;
	height: 40px;
	margin-top: 25px;
	font-size: .8em;
	color: #fff;
}

@media only screen and (max-width: 267px) {
	.findme ol li a img {
		width: 10px;
	}
}

@media only screen and (max-width: 375px) {
	.presentation h3 {
		font-size: 2.8em;
		margin-top: 25vh;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.about {
		margin-top: 40px;
	}
	h5 {
		font-size: 22px;
	}
	.works {
		margin-top: 40px;
	}
	.stack {
		margin-top: 40px;
	}
	.stack h5 {
		font-size: 24px;
	}
	.stack ol li:first-child {
		font-weight: 500;
	}
	.column {
		width: 100%;
		text-align: center;
	}
	.findme ol li a img {
		width: 20px;
	}
}

@media only screen and (max-width: 389px) {
	.works .images a img {
		width: 155px;
		height: 105px;
	}
}

@media only screen and (max-width: 570px) and (min-width: 389px){
	.works .images a img {
		width: 250px;
		height: 150px;
	}
}