* {
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	list-style: none;
	border: 0
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background-color: #F5CF8E;
		/* Yellow */
	}
}

/* Desktop Styles */

@media only screen and (min-width: 961px) {
	body {
		background-color: #B2D6FF;
		/* Blue */
	}
}

section {
	overflow: auto;
	width: 100%;
	height: 550px;
	margin: 0;
	padding: 0;
	background-color: black;
	color: #fff;
}

section h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 150px;
}

section h1, h2, h3, h4, h5, h6 {
	text-align: center;
	margin-top: 150px;
}

section p {
	text-align: center;
	margin-top: 20px;
	/* background-color: white;
	width: 100%;
	height: 100%;
	border-top: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 275px; */
}

section button {
	margin: auto;
	display: block;
	margin-top: 20px;
}

/* section.presentation p {
 	color: #fff;
 } */

/* #presentation p {
 	font-weight: 100;
 	margin-top: 10px;
 	background-color: red;
 } */

/* hr {
 	color: blue !important;
 	background-color: blue !important;
 } */

/* #presentation h3 {
 	font-weight: 600;
 } */

h1, h2, h3, h4, h5, h6 {
	font-family: Helvetica, Georgia, sans-serif;
	color: #FFF;
	font-size: 1.8em;
}

/* p {
	 font-size: 1.2em;
	color: #eee;
	display: inline-block;
	} */

/*

 ol, ul {
 	list-style-type: none;
 } */

/*

h1 {
	background-color: #fff;
	color: #293347;
	font-size: 3.242em;
	font-weight: 500; */

/* } */

/* h3 {
	margin-top: 5%;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 4.242em;
	font-weight: 500;
	text-align: left;
}

#portfolio {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	height: 400px;
}

#portfolio .box {
	text-align: left; */

/* margin: 50px 20px 0px 0px;
	border-radius: 5px;
	width: 30%;
	height: 250px;
	display: inline-block;
}

#portfolio .box a {
	width: 100%;
	height: 100%;
}

#portfolio .box a img {
	width: 100%;
	height: 100%;
	background-color: inherit;
	border-radius: 5px;
}

#portfolio a {
	margin-top: 10px;
	text-decoration: none;
	display: block;
	color: #293347;
	background-color: #fff;
}

#social {
	width: 80%;
	height: 200px;
	background-color: #2a2a2a;
	line-height: 20px;
	margin-left: auto;
	margin-right: auto;
	/* background-color: yellow; */

/* }  */

/* figure {
	height: 100%;
	line-height: 20px;
	/* background-color: red; */

/* display: inline-block; */

/* vertical-align: middle; */

/* } */

/* figure a img {
 	padding-right: 10px;
 	padding-left: 10px;
 	transform: scale(1.1);
 	margin-top: 75px;
 	background-color: inherit;
 } */

/* footer {
	background-color: #2a2a2a;
	/* background-color: #1e1f26; */

/* width: 100%;
	height: 100px;
	line-height: 90px;
	margin-left: auto;
	margin-right: auto;
} */

/* p {
	font-size: 18px;
	color: #5e5e5e;
	font-weight: 300;
} */

/* a {
	text-decoration: none;
	display: block;
} */